@use "../../index" as *;

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px $container-padding;
  background-color: $color-background-bar;
  margin-top: auto;


  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__logoNOVA {
    width: 30px;
    height: 30px;
  }

  &__name {
    font-size: 28px;
    font-weight: bold;
  }

  &__text {
    font-size: 16px;
    color: $color-text-subtle;
    max-width: 216px;
  }

  &__logotexte {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__links {
    display: flex;
    gap: 40px;

    a {
      font-size: 16px;
      color: $color-text-muted;
      transition: color 0.2s ease;

      &:hover {
        color: $color-text;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  &__copyright {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: $color-text-subtle;
    border-top: 2px solid $color-surface;
    padding-top: 20px;
  }
}
