@use "../../index" as *;

.row {
  margin-bottom: 40px;

 &__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $container-padding;
}

&__title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: bold;

  i {
    font-size: 12px;
  }
}

&__seeall {
  font-size: 16px;
  color: $color-text-muted;

  &:hover {
    color: $color-text;
  }
}

&__desc {
  font-size: 16px;
  color: $color-text-subtle;
  padding: 0 $container-padding;
  margin-top: 4px;
}

&__cards {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 0 $container-padding;
  margin-top: 16px;
}
}
