$color-background:   #090B0D;   
$color-surface:      #1C2429;   
$color-accent:       #E01F26;   
$color-success:      #40BF2E;   

$color-text:         #EBEBEB;   
$color-text-muted:   #B8BFC4;   
$color-text-subtle:  #8C949C;   


$font-main: "Inter", Arial, sans-serif;

$container-padding: 30px;

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-main;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: $color-background;
  color: $color-text;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
}

$breakpoint-mobile: 768px;